.main {
    background-color: black;
    height: 1245px;
    width: 120%
    position:fixed;
}

.main li {
    list-style-type: none;
    color: white;
    text-align: center;
}

.main li a {
    color: white;
    text-decoration: none;
}


.main1  {


    /*border-bottom-style: inset;*/
    background: #f8f8f8;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    padding: 24px;
    font-size: 25px;
}
.main1 li
{
    list-style-type: none;
    display: inline-block;
}

.main1 ul
{
    float:right;
    margin-top: 
    
}
.back
{
   
margin-top: 
  background-color: none;
  color: black;
    

}
.block1 {
    display: block;
    float: right;
    background-color: tomato;
    color: white;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}
.block2 {
    display: block;
    float: right;
    background-color: blue;
    color: black;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    border-style: none !important ;
}

.block {
    display: block;
    float: right;
    background-color: tomato;
    color: white;
    padding: 3px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    margin-left: 30px;
}
.block3 {
   display: block;
    float: right;
    background-color: tomato;
    color: black;
    padding: 9px 1px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    border-style: none
}

.main2 {


    /*border-bottom-style: inset;*/
    background: #f8f8f8;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    padding: 24px;


}

.main2 li {
    width: 30px;
    height: 20px;
    border: 1px solid black;
    background-color: darkgray;
    float: right;

}


.hgt{
    height: 510px;
}


.foot li {

    color: darkgray;
    display: inline-block;
}

.foot {
    background: #f8f8f8;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    padding: 24px;
    font-size: 12px;
}
 table
{
   padding: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
